# SPDX-License-Identifier: GPL-2.0-or-later
# Copyright (C) 2022-2026 Project_IO

.idea/
.vscode/

# data directory or config files
.narudata/

config.toml
!config.sample.toml

# binaries
mininaru

# macOS file cache
.DS_Store
